<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.raj.desktopcleaner</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/raj/WebstormProjects/Python/run_cleaner.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>10</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardErrorPath</key>
    <string>/Users/raj/WebstormProjects/Python/cleaner_error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/raj/WebstormProjects/Python/cleaner_output.log</string>
</dict>
</plist>